{% extends 'base.html' %}

{% block content %}

<div class="max-w-lg mx-auto">
    <br/>
    <div><a class="w-full text-white bg-purple-500 hover:bg-purple-800 px-2 py-2 rounded-md" href="{% url 'landing-page' %}">← Go back</a></div>
    <br/>
    <div><a class="text-pink-500 font-bold" href="{% url 'login' %}">Have an account? Login instead.</a></div>
    <div class="py-1 border-t border-gray-200">
        <h1 class="text-3xl text-gray-800">Select signup as</h1>
    </div>
    <div class="my-5 bg-purple-100 p-4 rounded-lg shadow-md">
        <br/>
        <div class=" flex mb-5 justify-center items-center text-center">
            <a href="{% url 'admin-signup' %}" class=" text-white text-center bg-pink-500 hover:bg-pink-800 py-3 rounded-md m-1.5 w-1/2">
              Admin
            </a>
            <a href="{% url 'regular-user-signup' %}" class=" text-white text-center bg-green-500 hover:bg-green-800 py-3 rounded-md m-1.5 w-1/2">
              User
            </a>
        </div>
    </div>
</div>

{% endblock content %}