{% extends 'base.html' %}

{% block content %}

    <div class="max-w-lg mx-auto">
    <a class="text-purple-800 font-bold" href="{% url 'trades:trade-list' %}">← Go back to trades</a>
    <div class="py-1 border-t border-gray-200">
        <h1 class="text-3xl text-gray-800">'{{ trade.bank }} - {{ trade.trade_name }}' details</h1>
        <div class="mt-5 bg-purple-100 p-4 rounded-lg shadow-md">
            <div>
                <div class="flex items-center">
                    <span class="font-bold mr-2">Trade name:</span>
                    <span>{{ trade.trade_name }}</span>
                </div>
                <div class="flex items-center">
                    <span class="font-bold mr-2">Status:</span>
                    <span>{{ trade.status }}</span>
                </div>
                <div class="flex items-center">
                    <span class="font-bold mr-2">Comments:</span>
                    <span>{{ trade.status_comments }}</span>
                </div>
                <div class="flex items-center">
                    <span class="font-bold mr-2">Quantity:</span>
                    <span>{{ trade.quantity }}</span>
                </div>
                <div class="flex items-center">
                    <span class="font-bold mr-2">Price:</span>
                    <span>{{ trade.price }}</span>
                </div>
                <div class="flex items-center">
                    <span class="font-bold mr-2">Submitted:</span>
                    <span>{{ trade.datetime }}</span>
                </div>
                <div class="flex items-center">
                    <span class="font-bold mr-2">Trader:</span>
                    <span>{{ trade.trader }}</span>
                </div>
                <div class="flex items-center">
                    <span class="font-bold mr-2">Bank:</span>
                    <span>{{ trade.bank }}</span>
                </div>
            </div>
            <br/>
            <a href="{% url 'trades:trade-update' trade.pk %}" class="w-full text-white bg-green-500 hover:bg-green-800 px-4 py-2 rounded-md">EDIT</a>
            {% if request.user.is_staff %}
            <a href="{% url 'trades:trade-delete' trade.pk %}" class="w-full text-white bg-red-500 hover:bg-red-800 px-4 py-2 rounded-md">DELETE</a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}